@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

.home-div{
    background-image: linear-gradient(#7006FF, #BCA1FD);
    background: url(https://cdn.mos.cms.futurecdn.net/Etym2YYubLXCUPjeyPEkiU.jpg) !important;
    z-index: none !important;
}
.footer-icon{
    height:35px
}


.backgroud{
    width: 55% !important;
}

.background-image{
    
    background: url(https://cdn.mos.cms.futurecdn.net/Etym2YYubLXCUPjeyPEkiU.jpg) !important;
}

.background-image:before{
    background: url(https://cdn.mos.cms.futurecdn.net/Etym2YYubLXCUPjeyPEkiU.jpg) !important;

}
.container {
    padding-bottom: 3rem;
}

.background-image-footer{
    background-color: #000000b9 !important;
}
