.slide-container {
    width: 80%;
    margin: auto;
  
  }
  
  
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 360px;
    border-radius: 10px;

  }
  
  .each-slide span {
    margin-bottom: -500px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #fff;
   
  }
